# My aliases

# Display info about a shell or environment variable
alias p='typeset -p'

# forget(1) -- send items to purgatory
#
#  forget FILE ...
#  forget
if [[ "$(uname)" = Darwin ]]; then
    function forget() {
        if [ $# -eq 0 ] ; then
            open /tmp/
        else
            mv "$@" /tmp/
        fi
    }
fi

# "Safe" aliases
alias mv='mv -i'
alias rm='rm -i'
alias cp='cp -i'
alias ln='ln -i'

# ls the way I like it
# Note: macOS only for now
alias ls='ls -G'
alias ll='ls -l'
alias la='ls -la'

# my favourite git aliases
alias gca='git commit -a'
alias gss='git status --short'
alias ga='git add'
alias gc='git commit'
alias gl='git pull'
alias gp='git push'
alias gd='git diff'
alias gwc='git whatchanged'
alias gcamend='git commit --amend --no-edit'
alias gb='git branch'

# vim: set ft=zsh:
