# My aliases

# Display info about a shell or environment variable
alias p='typeset -p'

# forget(1) -- send items to purgatory
#
#  forget FILE ...
#  forget
if [[ "$(uname)" = Darwin ]]; then
    function forget() {
        if [ $# -eq 0 ] ; then
            open /tmp/
        else
            mv "$@" /tmp/
        fi
    }
fi

# "Safe" aliases
alias mv='mv -i'
alias rm='rm -i'
alias cp='cp -i'
alias ln='ln -i'

# "Convenient" aliases
alias mkdir='mkdir -p'

# ls the way I like it
# Note: macOS only for now
alias ls='ls -G'
alias ll='ls -lh'
alias la='ls -la'

# my favourite git aliases
alias gca='git commit -a'
alias gss='git status --short'
alias gsw='git switch'
alias ga='git add'
alias gc='git commit'
alias gl='git pull'
alias gp='git push'
alias gd='git diff'
alias gwc='git whatchanged'
alias gcamend='git commit --amend --no-edit'
alias gb='git branch'

# Renders a graphviz in the terminal
#
# Requires:
#  - convert
#  - iTerm2's imgcat
#
# Adapted from https://twitter.com/thingskatedid/status/1483847024894099458
idot() {
      dot -Tpng \
          -Gdpi=125 \
          -Efontsize=18 \
          -Efontname=sans \
          -Nfontname=sans \
          -Gbgcolor=black \
          -Gcolor=white \
          -Ecolor=white \
          -Efontcolor=white \
          -Ncolor=white \
          -Nfontcolor=white \
      | convert -trim -bordercolor black -border 20 -transparent black - - \
      | imgcat
}

# Renders man pages as PDFs and opens them in Preview
# Stolen from: https://github.com/ohmyzsh/ohmyzsh/blob/632ed413a9ce62747ded83d7736491b081be4b49/plugins/macos/macos.plugin.zsh#L226C1-L232C25
function man-preview() {
  local page
  for page in "${(@f)"$(man -w $@)"}"; do
    command mandoc -Tpdf $page | open -f -a Preview
  done
}

# Completions for man-preview
if [ -n "$ZSH_VERSION" ]; then
  compdef _man man-preview
fi


# vim: set ft=zsh:
