[init]
	defaultBranch = main
[pull]
	rebase = false
[commit]
	verbose = true
[push]
	autoSetupRemote = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	stashp = stash show -p
# See: https://jvns.ca/blog/2024/02/16/popular-git-config-options/
[diff]
	algorithm = histogram
[branch]
	sort = -committerdate
[merge]
	conflictstyle = zdiff3
[include]
	# User name and email should be in here:
	path = "~/.gitconfig_local"
