[init]
	defaultBranch = main
[pull]
	rebase = false
[commit]
	verbose = true
[core]
	excludesfile = /Users/eddie/.gitignore_global
[push]
	autoSetupRemote = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[alias]
	stashp = stash show -p
[include]
	# User name and email should be in here:
	path = "~/.gitconfig_local"
